page-home {
  #map{
      width: 100%;
      height:100%;
     }
  #marker {
      background-image: url('https://i.imgur.com/MK4NUzI.png');
      // background-image: url('map-marker.png');    //Don't know why it doesn't work. Find these icon at https://www.flaticon.com/free-icon/map-marker_25613
      // background-image: url('file:///d:/Development/Code4Good/FoodShed/resources/aaa.png');
      // background-image: url(aaa.png);
      // background-image: url('https://github.com/Merle-Zhang/tools-selfuse/map-marker.png');
      background-size: cover;
      width: 32px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
  }   

  #mapboxgl-popup {
    max-width: 200px;
  }

  #mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
  }

}